:root {
  --default-font-family: -apple-system;
}
*{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
  height: 100%;
  background-color: #2C423F;
  position: absolute;
  z-index: 0;
  
}
.percental{
  flex-shrink: 0;
  position: absolute;
  color: #ffffff;
  font-family: SF Pro expanded , var(--default-font-family);
  font-weight: 200;
  font-size: 24px;
  line-height: 13px;
  left: 86px;
  top: 19px;
  z-index: 72;
}

.line{
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #4C5B61;
  top: 52px;
}
.logo{
  flex-shrink: 0;
  position: absolute;
  width: 45px;
  height: 36px;
  top: 10px;
  left: 30px;
  background: url(./assets/images/logo.svg)
    no-repeat center;
  background-size: cover;
  z-index: 72;
}
.main-container{
  flex-shrink: 0;
  position: relative;
  width: 377px;
  height: 763px;
  top: 109px;
  left: 28px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

.left-container{
  flex-shrink: 0;
  position: relative;
  width: 377px;
  height: 370px;
  top: 0;
  background-color: aquamarine;
  z-index: 11;
}

.initial-investment{
  flex-shrink: 0;
  position: relative;
  height: 73px;
  width: 377px;
  background-color: #4C5B61;
  z-index: 12;
}
.initial-investment-text{
  flex-shrink: 0;
  position: relative;
  color: #ffffff;
  font-family: SF Pro expanded , var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  z-index: 13;
  top: -5px;
}
.initial-investment-value{
  display: flex;
  align-items: center;
  position: relative;
  width: 135px;
  height: 14px;
  background-color: #525252;

  z-index: 13;
}
.final-value-ii{
  flex-shrink: 0;
  position: relative;
  color: #C5C5C5;
  font-family: SF Pro expanded, var(--default-font-family);
  font-weight: 200;
  font-size: 16px;
  z-index: 14;
}
.edit-img-ii{
  position: relative;
  width: 14px;
  height: 14px;
  left: 7px;
  background: url(./assets/images/eddit.svg);
  z-index: 15;
}
.slider-ii{
  display: flex;
  align-items: center;
  position: relative;
  height: 12px;
  width: 377px;
  top: 6px;
  background-color: #525252;
}
.slider-empty-ii{
  position: absolute;
  height: 2px;
  width: 377px;
  background-color: #4C5B61;
}
.slider-fill-ii{
  position: relative;
  height: 2px;
  width: 117px;
  background-color: #ffffff;
}
.squer1-ii{
  position: relative;
  height: 2px;
  width: 2px;
  background-color: #2C423F;
  left: 73;
}
.tugle-ii{
  display: block;
  position: border;
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 10;
  left: 1000px;
}
.right-container{
  flex-shrink: 0;
  position: relative;
  width: 377px;
  height: 370px;
  top: 23px;
  background-color: #8bbcb5;
  z-index: 11;
}
