:root {
    --default-font-family: -apple-system;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  body{
    background-color: #2C423F;
    justify-content: center;
    align-items: center;
  }
  
  .head{
    display: block;
    position: relative;
    width: 100%;
    height: 52px;
    padding: 10px 0;
  }
  .logo{
    flex-shrink: 0;
    position: absolute;
    width: 45px;
    height: 36px;
    top: 10px;
    left: 20px;
    background: url(./lib/images/logo.svg)
  }
  .percental{
    background-color: transparent;
    border: none;
    position: absolute;
    color: #C5C5C5;
    font-family: SF Pro expanded , var(--default-font-family);
    font-weight: 200;
    font-size: 24px;
    line-height: 13px;
    left: 75px;
    top: 19px;
    transition: 0.3s;
  }
  @media(hover: hover){
    .percental:hover{
        color: #ffffff;
  
    }
  }
  @media(hover: none){
    .percental:active{
        color: #ffffff;
    }
  }
  .line{
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #4C5B61;
    top: 52px;
  }
  
  .main-container{
    margin: 0 25px ;
    width: calc(100%-50px);
    height: 763px;
  }

.stockcharts {
  width: 100%;
  height: 390px; 
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
    }
.stockcharts a { 
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
    }
.stockcharts a:hover { 
  background-color: #ccc; 
}
.stockcharts a.active { 
  background-color: #4CAF50; 
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background-color: #949B96;
  border-radius: 3px;
}


::-webkit-scrollbar-thumb {
  background: #C5C5C5;
  border-radius: 3px;
  width: 100%;
}